*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    color: aliceblue;

}

header{
    width: 100%;
    height: 100vh;
  background:black;
    background-image: url(./image/photo_6093786787857151320_y.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

header::before{
    content: "";
    top: 160px;
    height: 400px;
    width: 400px;
    background-image: url(./image/photo_6118237611471516940_y.jpg);
    position: absolute;
    left: 300px;
    bottom: 0;
    border-radius: 50%;
    background-size: cover;
    margin-left: -6%;
    opacity: 1.5;

}

nav{
    height: 15vh;
    width: 100%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-name{
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 700;
}

.menu ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 18px;
}

.menu ul li a{
   text-transform: capitalize;
   font-size: 16px;
   font-weight: 300;
}

.menu ul li a:hover{
    opacity: 0.5;
    transition: 02s;
}

.btn{
    background-color: #ff6fff;
    padding: 13px 25px;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    transition: 0.4s;
    cursor: pointer;
}

.btn:hover{
    background-color: blueviolet;
}

.main-text{
    color: azure;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.main-text h1{
    font-weight: 600;
    font-size: 50px;
    text-transform: capitalize;
    
}

.main-text h2{
    font-weight: 600;
    position: relative;
    text-transform: capitalize;
    
}

.main-text h2:before{
    content: "";
    width: 55px;
    height: 3px;
    background-color: white;
    position: absolute;
    left: -70px;
    top: 16px;
    bottom: 0;

}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: black;
}

.about-text{
    width: 550px;
}
.main{
    width:1130px ;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}

.about-text{
    
    text-transform: capitalize;
    margin-bottom: 20px;
    color: azure;
    font-weight: 700;
    font-size: 23px;

}

.about-text h5{
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color:white;
}

.about-text h5{
    color: red;
}

button{
    background-color: red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 1.4s;
}

button:hover{
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
}

.services{
    background-color: black;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
color: white;
font-size: 75px;
width: 1130px;
margin: 30px auto;
text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    color: white;
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: blue;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

 i{
    font-size: 50px;
    display: flex;
    text-align: center;
    margin: 25px 0px;
    color: red;
    background-color: blanchedalmond;
}

h5{
    color: red;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color: red;
    color: aliceblue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover{
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
}

.contactMe{
    width: 100%;
    height: 290px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contactMe p{
color: aliceblue;
font-size: 30px;
font-weight: bold;
margin-bottom: 25px;
}

.button-two{
    background-color: red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 1.4s;
}
.button-two:hover{
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
}




